/* Specificity example */

/* h1 {
    font-family: serif;
}

#page-title { /* most specific of these three */
    /* font-family: sans-serif;
}

.title {
    font-family: monospace;
} */

body { /* set rule declarations to be inherited */
    font-family: sans-serif;
}

h1 {
    color: #2f4f4f;
    font-weight: bold;
    margin-bottom: 10px;
}

a:link {
    color: blue; /* global value for page */
    text-decoration: none;
}

.title {
    /* font-weight: normal set implicitly by shorthand,
       which overrides earlier h1 rule */
    font: 32px Helvetica, Arial, sans-serif;
}

#main-nav {
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
}

#main-nav li {
    display: inline-block;
}

#main-nav a {
    color: white;
    background-color: #13a4a4;
    padding: 5px 15px;
    border-radius: 2px;
    text-decoration: none;
}

/* doesn't apply because overridden by #main-nav a */
.featured {
    background-color: orange;
}

/* combine with ID selector to make it work */
#main-nav .featured {
    background-color: orange;
    /* unlike margin, etc. TRBL order, this specifies horizontal first */
    box-shadow: 10px 2px #6f9090;
}

.footer {
    color: #666666;
    background-color: #cccccc;
    padding: 15px 0;
    text-align: center;
    font-size: 14px;
}

.footer a {
    color: inherit; /* overrides global color */
    color: initial; /* resets to original default, which is black */
    text-decoration: underline;
}
